@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}


.page {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  position: sticky;
  top: 0;
  width: 100%;
  transition: transform 0.5s ease-in-out;
}

.slideIn {
  transform: translateY(0);
}

.hidden {
  transform: translateY(-100%);
}


.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-top: 2vh;
  width: 90%;
  max-width: 600px;
}

.searchInput {
  border: none;
  padding: 10px;
  flex: 1;
  border-radius: 4px 0 0 4px;
  outline: none;
  margin-top: 10vh;
}

.searchButton {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  margin-top: 3vh;
}

.pop {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  margin-top: 1vh;
}

.popLinks {
  display: flex;
  justify-content: center;
  color: #ccc;
  text-align: center;
  margin: 1vh;
  gap: 10px;
}


.popLinks:hover {
  color: aqua;
}

.search {
  background-color: transparent;
  margin-top: 10vh;
}


.sign:hover {
  color: aqua;

}

.dropdown {
  position: relative;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
  width: 100%;
  max-width: 300px;
}

.dropdownItem {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.dropdownItem:hover {
  background-color: #f2f2f2;
}

.trending {
  width: auto;
  text-align: center;
  color: #ccc;
  margin-top: 5vh;
}

.carousel {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  max-width: 1000px;
  margin: auto;
  margin-top: 5vh;
  left: 10%;
}

.videoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  right: 10%;
}

.video {
  width: 80%;
  height: 80vh;
  object-fit: cover;
  border-radius: 8px;
}

.prevButton,
.nextButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  font-size: 24px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.prevButton {
  left: 10px;
}

.nextButton {
  right: 10px;
}

.videoTitle {
  text-align: center;
  margin-top: 10px;
  color: #333;
  font-weight: bold;
}

.commentsContainer {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #000000;
  width: 50%;
  position: relative;
  margin-top: 10vh;
  height: 80vh;
  margin: 10vh;
}

.commentBox {
  padding: 15px;
  border: 1px solid #ccc;
  margin-top: 20px;
  background-color: #f5f5f5;

}

.commentForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.commentInput {
  width: 70%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: auto;
}

.comment {
  text-align: center;
  margin: 5vh;
}

.submitButton {
  padding: 10px 20px;
  background-color: #5a5a5a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #404040;
}
.navigation {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 

}



.logo {
  width: 100%; 
  opacity: 1; 
  animation: fadeIn 2s forwards; 
}



.signContainer {
  display: flex;
  gap: 15px;
  margin: 0;
}

.sign {
  color: white; 
  margin: 0;
}


.navButton {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  margin: 0 5px;
  visibility: hidden;
}

.navButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


.allComments {
  border: 1px solid #ccc;
  padding: 10vh;
  margin-top: 5vh;
  width: 90%;
  border-radius: 5px;
  border-top: #ccc 1px solid;
}

.starRating {
  display: flex;
  cursor: pointer;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.star {
  font-size: 24px;
  color: #ccc;
  transition: color 0.2s;
}

.filled {
  color: gold;
}

.scroll {
  height: 50vh;
  overflow: scroll;
  overflow-x: hidden;
}

.allComments {
  margin: 10vh;
}

.slideshow {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  transition: opacity 1s ease-in-out;
}

.slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  transition: color 0.2s;
}

.slide.hidden {
  opacity: 0;
}


.caption {
  position: absolute;
  color: white;
  font-size: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 5px;
}

.authContainer {
  max-width: 400px;
  margin: auto;
  padding: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #000000;
  margin-top: 20vh;
  text-align: center;
}

.authForm {
  display: flex;
  flex-direction: column;
}

.authForm div {
  margin-bottom: 15px;
}

.authForm label {
  margin-bottom: 5px;
  font-weight: bold;
}

.authForm input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
 
.button {
  padding: 10px;
  background-color: #5a5a5a;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.toggle {
  margin-top: 10px;
  color: #ffffff;
  cursor: pointer;
  text-align: center;
}


.sign {
  position: relative;
  text-align: center;
}

.signButton {
  display: flex;
  align-items: center; 
  background: none; 
  border: none; 
  color: white;
  cursor: pointer; 
}

.commentBox {
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  width: 55%;
  height: 30vh;
  background-color: transparent;
}

.contentWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  gap: 20px; 
}

.navColumn {
  flex: 0 0 250px; 
  background-color: #333; 
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0; 
  padding: 20px;
  z-index: 1000;
  color: white; 
  width: 15vw;
}

.flickFindr {
  margin-bottom: 5vh; 
  margin-top: 5vh;
}

.logoNav {
  height: 10vh;
  width: 20vh;
  margin-top: 0;
}

.logoNav:hover {
  background-color:#1a1a1a;
  cursor: pointer;
}

.navColumnTxt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.columnBtn {
  width: auto;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 5px;
  margin: 20px 0; 
  cursor: pointer;
  font-size: 1.2rem;
  padding: 50px;
}

.columnBtn:hover {
  background-color: #1a1a1a;
}

.hamburgerContainer {
  visibility: hidden;
}

@media (min-width: 932px) {

  .page {
    display: grid;
    grid-template-rows: 20px 1fr 20px;
    align-items: center;
    justify-items: center;
    min-height: 100svh;
    padding: 80px;
    font-family: var(--font-geist-sans);
    width: 100%;
  }

  .header {
    border: #ccc 2px solid;
    height: 10vh;
    width: 90%;
    max-width: 500px;
    color: #ccc;
    font-size: 4vh;
    text-align: center;
    margin-right: 5vh;
    position: relative;
  }


  
  .sign {
    position: relative;
    text-align: center;
  }
  

  .main {
    align-items: center;
  }

  .input {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    margin-top: 2vh;
    width: 90%;
    margin: 0 auto;
    position: relative;
  }

  .searchInput {
    border: none;
    padding: 10px;
    flex: 1;
    border-radius: 4px 0 0 4px;
    outline: none;
  }

  .searchButton {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 0 4px 4px 0;
    display: flex;
    align-items: center;

  }

  .pop {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ccc;
    margin-top: 1vh;
    margin-bottom: 1vh;
  }

  .popLinks {
    display: flex;
    justify-content: center;
    color: #ccc;
    text-align: center;
    margin: 1vh;
    gap: 10px;
  }


  .popLinks:hover {
    color: aqua;
  }

  .search {
    background-color: transparent;
    width: 100%;
  }

 
  

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .input {
    display: flex;
    flex-direction: column;    
    align-items: center;        
    justify-content: center;    
    margin: 0 auto;             
    width: 100%;              
    max-width: 400px;           
    padding: 20px;              
  }
  
  .searchInput {
    width: 100%;               
    padding: 10px;              
    border: 1px solid #ccc;     
    border-radius: 5px;   
  }
  
  .searchButton {
    background-color: #404040; 
    color: white;             
    border: none;            
    border-radius: 5px;      
    padding: 10px 20px;      
    cursor: pointer;         
    transition: background-color 0.3s; 
  }
  
  .searchButton:hover {
    background-color: #005bb5; 
  }
  
  .slideshow {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease-in-out;
  }

  .commentsContainer {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    background-color: #000000;
    width: 70%;
    position: relative;
    margin-top: 10vh;
  }
  
  .comment {
    text-align: center;
    color: #fff;
    margin: 10vh;
  }
  
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 10px 20px;
    z-index: 1000;
  }
  
  .navButton {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: 24px;
    margin: 0 5px;
  }
  
  .navButton:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  
  .allComments {
    border: 1px solid #ccc;
    padding: 10vh;
    margin-top: 5vh;
    width: 50%;
    border-radius: 5px;
    border-top: #ccc 1px solid;
  }
  
  .starRating {
    display: flex;
    cursor: pointer;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  
  .star {
    font-size: 24px;
    color: #ccc;
    transition: color 0.2s;
  }
  
  .filled {
    color: gold;
  }
  
  .scroll {
    height: 50vh;
    overflow: scroll;
    overflow-x: hidden;
  }
  
  .allComments {
    margin: 10vh;
  }

}

@media (max-width: 931px) {
  .navigation {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 10px; 
  }

  .logoContainer {
    display: flex;
    align-items: center;
    margin: 0; 
  }

  .logo {
    width: auto;
    max-width: 100%; 
    height: auto; 
    opacity: 1; 
  }

  .signContainer {
    display: flex;
    align-items: center; 
  }

  .sign {
    color: white; 
    text-decoration: none;
  }
}


@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}